@page
@model PostModel

@{
    ViewData["Title"] = "Post";
    Layout = "_MainLayout";
}
<h1>Index</h1>

<p>
    <a asp-page="Post/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Visibility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Group)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Post) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visibility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account!.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group!.Name)
            </td>
            <td>
                    <a asp-page="Post/Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="Post/Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="Post/Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
